<html>
    <head>
        <title>Panja !</title>
    </head>

    <body>
        <script>
            function sendAction(room, device, name, action) {
                var request = new Object();
                request.room = room;
                request.device = device;
                request.name = name;
                request.action = action;

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        //location.reload(true);
                    }
                };
                xhttp.open("POST", "/clients", true);
                //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                //xhttp.send("action=toggle&args=0");
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.send(JSON.stringify(request));
                
                setTimeout(function(){
                    location.reload(true);
                }, 300); 
                
            }
        </script>
            
        <div>
            <h1>Panja! Experimental Webclient</h1>
            {% for room_name, room in rooms.items() %}
                <h2> {{ room_name }} </h2>
                <h3>::Actuators::</h3>
                {% for label, state in room['ACTUATORS'].items() %}
                    <h4> {{ label }} : {{ state }} : <button type="button" onclick="sendAction('{{room_name}}', 'ACTUATOR', '{{label}}', 'toggle')">toggle</button> </h4>
                {% endfor %}
                <br>
            {% else %}
                <h1> No entrys !!!</h1>
            {% endfor %}
        </div>
    </body>
</html>